@inherits LayoutComponentBase

<div class="page">
    <header class="top-bar">
        <a class="logo" href="">
            <img src="images/logo.svg" height="70"/>
        </a>

        <div class="nav-item px-3" id="button">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
                <img src="images/pizza-slice.svg" />
                <div style="color:white">Get Pizza</div>
            </NavLink>
        </div>

        <div class="nav-item px-3" id="button">
            <NavLink href="myorders" class="nav-link">
                <img src="images/bike.svg" />
                <div style="color:white">My Orders</div>
            </NavLink>
        </div>
    </header>

    <div class="content">
        @Body
    </div>

    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
